a {
  text-decoration: none;
  color: black;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.flex {
  display: flex;
}

main {
  width: 100%;
}
.card_grid {
  display: grid;
  grid-template-columns: 225px 225px 225px;
  margin-top: 1em;
  gap: 2em;
}
.card {
  width: 225px;
}
// .list {
//   opacity: 0;
//   overflow: hidden;
//   max-height: 0;
//   transition: all 0.4s ease-in-out;
// }

// .open {
//   .list {
//   opacity: 1;
//   max-height: fit-content;
//   }
// }

// .grid {
//   width: 100%;
//   display: inline-grid;
//   grid-template-columns: 20% auto;
//   grid-template-rows: min-content;
// }

// .child1{
//   grid-column: 2;
//   grid-row: 1/4;
// }
// .card {
//   display: grid;
// }